[package]
name = "bacon-ls"
version = "0.23.0"
edition = "2024"
authors = ["Matteo Bigoi <bigo@crisidev.org>"]
description = "Bacon Language Server"
documentation = "https://github.com/crisidev/bacon-ls"
readme = "README.md"
homepage = "https://github.com/crisidev/bacon-ls"
repository = "https://github.com/crisidev/bacon-ls"
license-file = "LICENSE"
keywords = ["lsp", "bacon", "tokio", "neovim", "vim"]
categories = ["command-line-utilities", "text-editors", "asynchronous"]
rust-version = "1.85"

[features]
bacon = []
default = []

[dependencies]
anyhow = "1"
ansi-regex = "0.1.0"
argh = "0.1.13"
cargo = { version = "0.91.0", features = ["all-static"] }
cargo-util = "0.2.23"
flume = "0.11.1"
notify = "8.1.0"
notify-debouncer-full = "0.6.0"
rand = "0.9.2"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.145"
tempfile = "3.23.0"
tokio = { version = "1.47.0", features = [
    "fs",
    "io-std",
    "io-util",
    "macros",
    "process",
    "rt-multi-thread",
    "time",
] }
tokio-util = "0.7.15"
toml = "0.9"
tower-lsp-server = "0.22.0"
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.20", default-features = false, features = [
    "env-filter",
    "fmt",
] }

[dev-dependencies]
pretty_assertions = "1.4.1"
